[alias]
	st = status
	co = checkout
	cm = commit
	unstage = reset HEAD --
	diffwords = diff --color-words
	logfull = log --oneline --graph --all --decorate
	diffvim = difftool --tool=vimdiff --no-prompt
[init]
	defaultBranch = master
[pager]
	show = vim -R -
	color = true
[push]
    autoSetupRemote = yes
[user]
	email = vsibille@mit.edu
	name = Valérian Sibille
