@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"

configuration {
   modi: "window,drun,ssh,combi";
   combi-modi: "window,ssh,drun";
   font: "hack 11";
   icon-theme: "Papirus";
   show-icons: true;
}

element-icon {
   size: 4ch ;
}
