@theme "~/.local/share/rofi/themes/rounded-blue-dark.rasi"

configuration {
   modi: "window,drun,ssh,combi";
   combi-modi: "window,ssh,drun";
   font: "hack 11";
   icon-theme: "Papirus";
   show-icons: true;
}
